.error {
    background-color: red;
    margin-top: 2px;
}
.hidden-button {
    background: transparent;
    outline: none;
    border: none;
}
.white-text {
    color: white;
}
.full-w {
    width: 100%;
}
.center-block {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}