<div class="container-fluid">
    <div class="row">
        <h1 class="text-center full-w">{{TITLE}}</h1>
    </div>
    <div class="row">
        <div class="col col-lg-2">
            <p>{{ADD}}</p>
        </div>
        <div class="col col-lg-8">
            <input class="full-w" type="text" [(ngModel)]="newTask" (keyup)="checkEnterOnTaskField($event)"/>
        </div>
        <div class="col col-lg-1"></div>
        <div class="col col-lg-1">
            <button (click)="addTask()" class="full-w">{{OK}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button (click)="getTasks()">{{REFRESH}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input id="show_completed_tasks" type="checkbox" [(ngModel)]="showHiddenTasks" />
            <label for="show_completed_tasks">{{SHOW_COMPLETED_TASKS}}</label>
        </div>
    </div>
    <to-do-string *ngFor="let string of strings; let i = index" [item]="string" [isOdd]="i % 2 == 0" (onDelete)="onDelete($event)"></to-do-string>
</div>